

.calculator {
    position: relative;
    border: 2px solid#d4b0c4;
    padding: 20px;
    border-radius: 15px;
    background: #141e30; /* Solid background for calculator */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    width: 320px;
    text-align: center; /* Center align content */
    z-index: 1;
}

.calculator h1 {
    color: #d4b0c4;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 50px;
    text-align: right;
    
    border: none;
    border-radius: 10px;
    margin: 0 auto; 
   
    font-size: 1.8em;
    background-color: #1e1e1e;
    color:#d4b0c4;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s, background-color 0.3s;
}

#display:focus {
    outline: none;
    box-shadow: 0 0 15px #d4b0c4;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding-top: 15px;
}

button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
}

button.operator {
    background-color: #11212d;
}

button.operator:hover {
    background-color: #11212d;
}

button.operator:active {
    background-color: #11212d;
    transform: scale(0.95);
}

button:not(.operator) {
    background-color: #295858;
}

button:not(.operator):hover {
    background-color: #295858;
}

button:not(.operator):active {
    background-color: #295858;
    transform: scale(0.95);
}

button.clear {
    background-color: #dc143c;
}

button.clear:hover {
    background-color: #ff6347;
}

button.clear:active {
    background-color: #dc143c;
    transform: scale(0.95);
}

button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
#equal{
   width: 70px;
}